*
{
    margin: 0;
}
.contenedor
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1270px;
    height: 100px;
    background-color: #333;
}
.titulo
{
    font-family:'Courier New', Courier, monospace;
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}